@use "./variables" as *;

/* Fonts */

/* Colour palette */

/* Breakpoints for media queries */
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;
$breakpoint-large-desktop: 2560px;