@use "./variables" as *;

.tracker {
    border: 2px solid #ffffff;
    margin: 2rem;
    padding: 2rem;

    &__header {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &__employees {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
        flex-wrap: wrap;
    }
}