@use "./variables" as *;

.tracker {
    border: 2px solid #ffffff;
    margin: 2rem;
    padding: 2rem;

    &__header {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &__employees {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
        flex-wrap: wrap;
    }
}

.employee {
    background-color: white;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: -3px 5px 12px rgba(0,0,0,0.3);
    width: fit-content;
    display: flex;
    flex-direction: column;
    min-width: auto;
    min-height: auto;

    &__name {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    &__role {
        color: #666;
        margin-bottom: 0.5rem;
    }

    &__counter {
        border-radius: 1rem;
        background-color: rgb(182, 235, 254);
        align-items: center;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        //gap: 1rem;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    &__button {
        //margin-top: 0.5rem;
        align-self: center;
        justify-content: center;
        border-radius: 1.5rem;
        background-color: white;
        border: none;
        width: 2rem;
        height: 2rem;
        font-size: 1.2rem;
        cursor: pointer;
    }
}