@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Poppins:wght@300&family=Silkscreen&family=Unica+One&display=swap');

/* Fonts */
$font-body: "Poppins", sans-serif;
$font-headers: "Silkscreen", sans-serif;
$font-headers-secondary: "Amatic SC", sans-serif;
$font-headers-tertiary: "Unica One", sans-serif;

/* Colour palette */

/* Breakpoints for media queries */
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;
$breakpoint-large-desktop: 2560px;